################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/v16/.suo
/.vs/ConsoleApp1/v16/.suo
/ConsoleApp1/obj
/.vs/GitRepos/v16
/.vs
